.footer {
  max-width: 318px;
}

.footer__copyright {
  margin: 31px 0 60px;
  color: #545454;
  font-size: 18px;
  line-height: normal;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 0 0 36px;
    font-size: 14px;
    line-height: normal;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin: 0 0 60px;
    line-height: normal;
  }
}

@media screen and (max-width: 700px) {
}
