.header {
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
  }

  .header__logo {
    max-width: 126px;
    margin: 24px 27px 32px 0;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
  }
}

@media screen and (max-width: 700px) {
}

@media screen and (max-width: 800px) {
}
