.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear 0.5s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 430px;
  box-sizing: border-box;
}

.modal__close {
  background-image: url(../images/Close-Icon.svg);
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  margin: 0;
  padding-bottom: 54px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 358px;
}

.modal__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  padding-bottom: 14px;
}

.modal__input:last-child {
  margin-bottom: 48px;
}

.modal__input:last-of-type {
  margin-bottom: 0;
}

.modal__error {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
  border-bottom: #ff0000;
  color: #ff0000;
  margin-bottom: 13px;
  visibility: hidden;
  width: 100%;
  height: 12px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__button {
  margin-top: 40px;
  padding: 14px 125px 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
}

.modal__button:hover:not(:disabled) {
  cursor: pointer;
  opacity: 0.6;
}

.modal__button_disabled {
  pointer-events: none;
  opacity: 0.2;
  background-color: #ffffff;
  color: #000000;
  border: 1px;
  border-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
  border-style: solid;
}

.modal__preview {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.85);
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-image {
  max-width: 100%;
  object-fit: cover;
}

.modal__preview-description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 400;
}

#modal-submit-button {
  height: 50px;
  width: 100%;
  max-width: 358px;
  margin-top: auto;
  text-align: center;
  border: 2px solid black;
  background-color: black;
  color: #fff;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  border-radius: 5px;
  box-sizing: border-box;
}

#modal-delete-card-container {
  width: 430px;
  height: 181px;
  padding: 0px;
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 100%;
    padding: 25px 22px;
    max-width: 282px;
  }
  .modal__close {
    right: 0;
    width: 26px;
    height: 26px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .modal__input {
    font-size: 14px;
    line-height: 17px;
  }
  .modal__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .modal__form {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .modal__form {
    max-width: 100%;
  }
  .modal__close {
    height: 50px;
    left: auto;
  }
}
